.adminSettings{
    // background-color: #C0C0C0 !important;
    // background-color: #c0c0c0ed !important;
    background-color: rgb(218 218 218) !important;
    height: 100%;
    margin-top: 80px !important;
}

:hover.adminSettingsCrads{
    background-color: #edf6ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}