$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 22px;
$font-size-mainHeading: 36px;
$primary-color: #00246b;
$secondary-color: #cadcfc;
$third-color: #f9eded;

* {
  font-family: "Roboto Mono ";
}

h1 {
  font-size: $font-size-mainHeading;
  font-weight: 800;
}

p {
  font-size: $font-size-large;
  font-weight: 500;
  color: $third-color;
}

.small-text {
  font-size: $font-size-small;
}

.ant-btn.css-dev-only-do-not-override-19lec04.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid {
  background-color: #00246b !important;
  padding: 17px 15px !important;
  font-size: $font-size-small !important;
  font-weight: 600 !important;
}
.ant-btn.css-dev-only-do-not-override-19lec04.ant-btn-default.ant-btn-color-default.ant-btn-variant-outlined {
  padding: 17px 15px !important;
  font-weight: 500 !important;
  color: $primary-color !important;
  font-size: $font-size-medium !important;
  background-color: transparent !important;
  border: none !important;
  &:hover {
    background-color: $secondary-color !important;
  }
}
.ant-btn.css-dev-only-do-not-override-19lec04.ant-btn-default.ant-btn-color-purple.ant-btn-variant-text {
  padding: 17px 15px !important;
  font-weight: 500 !important;
  color: $primary-color !important;
  font-size: $font-size-medium !important;
  background-color: red !important;
  :hover {
    background-color: red !important;
  }
}

.ant-menu {
  border: none !important;
}
.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.css-dev-only-do-not-override-19lec04 {
  border: none !important ;
  background: transparent !important;
}
.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-19lec04 {
  border: none !important ;
  background: transparent !important;
}
.headerMenus .ant-menu-item.ant-menu-item-only-child{
  font-size: 20px !important;
  color: #fff !important;
  &:hover{
    color: $primary-color !important;
    background-color: #CADCFC !important  ;
  }
}
.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child{
  color:$primary-color !important;
}
.ant-btn-variant-solid{
  background: $primary-color !important;
}
.ant-menu-light{
  background: transparent !important;
}
.ant-drawer .ant-drawer-body{
  padding: 5px !important;
}
.ant-drawer-content-wrapper{
  width: 150px !important;
}